@charset "EUC-KR";

:lang(ko) {
    font-family: "Pretendard Std", Pretendard, -apple-system;
}

.reviewcontainer{
   position: relative;
    overflow-x: hidden;
    display: block;
}

.dYnKUH {
    height: 1px;
    background: rgb(214, 214, 214);
}

.CommunityListItem__StyledListItemContent{
   padding: 26px;
}

.CommunityListItem__StyledDivider {
   height: 1px;
    background-color: rgb(236, 236, 236) !important;
}

.UserProfile {
   display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.reviewWrite {
   padding: 16px 26px 8px;
}

.reviewWrite_Box {
   padding: 0px 12px;
   
   box-sizing: border-box;
    border-radius: 8px;
    border: 0;
    position: relative;
    height: 32px;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    color: #000000;
    background-color: #E4CA01;
}

.reviewInner {
   display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.writeIcon {
   margin-left: 4px;
    stroke: rgb(214, 214, 214);
    background-color: #E4CA01;
}

.CommunityListItem__bill {
   display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px;
    margin-bottom: 16px;
    height: 16px;
    padding: 3px 6px 3px 5px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 4px;
}

.CommunityListItem__StyledCategoryLabel {
   font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: 0px;
    color: rgb(102, 102, 102);
}

.UserProfileInCommunity__StyledUserProfileInCommunity {
   display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.UserProfileInCommunity__StyledImg {
   margin-right: 8px;
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
}

.CommunityListItem__id {
   margin-right: 8px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0px;
}

.UserProfileInCommunity__StyledDot {
   margin-right: 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0px;
    color: rgb(102, 102, 102);
}

.CommunityListItem__point {
   margin-right: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px;
    height: 20px;
    padding: 2px 6px;
    background-color: rgb(245, 245, 245);
    color: rgb(102, 102, 102);
    border-radius: 10px;
    box-sizing: border-box;
}

.CommunityListItem__registerDate {
   margin-right: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    color: rgb(153, 153, 153);
    white-space: nowrap;
}

.CommunityListItem__content {
   font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
}

.CommunityListItem__content__span {
   display: block;
    margin-top: 12px;
    white-space: pre-line;
}

.CommunityListItem__showMoreText {
   color: rgb(153, 153, 153);
    text-decoration: none;
    cursor: pointer;
}

.CommunityListItem__StyledCommunityActionBar {
   display: flex;
    height: 52px;
    padding: 0px 16px;
    -webkit-box-pack: center;
    justify-content: center;
}

.CommunityListItem__StyledCommunityActionBar > button {
   flex: 1 1 0%;
}

.like-button {
   display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0px;
    color: rgb(102, 102, 102);
    background-color: unset;
    border: unset;
    gap: 4px;
    padding: unset;
    cursor: pointer;
}

.comment-button, .views-button {
   display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0px;
    color: rgb(102, 102, 102);
    background-color: unset;
    border: unset;
    gap: 4px;
    padding: unset;
    cursor: default;
}

.community-list-item::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: rgb(245, 245, 245);
}